.App {
  font-family: montserrat;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
}


#about,
#team,
#mission, #sidebar {
  color: #3b3b3c;
  background: #eaf2fa;
}



.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 1;
  height: 70px;
  min-height: 70px;
  width: calc(100% );
  background-color: rgb(143, 142, 142);
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  
}

.nav1 {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 1;
  height: 70px;
  min-height: 70px;
  width: calc(100% );
  background-color: rgb(143, 142, 142);
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);

  
}
.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  
}

.nav__container__actions {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 2%;
  flex: 1;
  color: white;
}

.active {
  font-weight: bold;
  color: black;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}
.container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  place-items:center;
  gap:10px;
  justify-content: center;
  margin-top: 2em;
  width: 80%;
  flex-wrap: wrap;
  max-width: 1440px; /* whatever you desire */
  margin-left: auto; /* center the container */
  margin-right: auto;
}

.containerjobs{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  place-items:center;
  gap:30px;
  justify-content: center;
  width: 90%;
  
  max-width: 1640px; /* whatever you desire */
  margin-left: auto; /* center the container */
  margin-right: auto;
}
.container2{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  place-items:center;
  gap:40px;
}

.item{
  display:table-cell;
  padding: 10px;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
 }